@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:hsl(210, 46%, 95%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Manrope', sans-serif;
}
.container{
    max-width: 375px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow:
  0 1.7px 5.3px rgba(0, 0, 0, 0.024),
  0 5.8px 17.9px rgba(0, 0, 0, 0.036),
  0 26px 80px rgba(0, 0, 0, 0.06);
}

.container img{
    width: 100%;
    border-radius: 10px 10px 0 0;

}
.container .description{
    padding: 40px 40px;
    line-height: 1.5;
}
.container .description .title{
    font-size: 16px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin: 10px auto;
}
.container .description p{
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    font-size: 12.9px;
}
.card-footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "user author-name share";
    padding: 20px;
}

.container .card-footer .user_photo{
    grid-area: user;
    border-radius: 50%;
    width: 70%;
    margin: auto;
}
.container .card-footer .btn{
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    background: none;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    
}
.container .card-footer .share{
    grid-area: share;
    background: hsl(210, 46%, 95%);
    padding: 10px;
    border-radius: 50%;
   
}
.container .card-footer .author{
    margin: auto;
}
.container .card-footer .author .name{
    font-weight: 700;
    font-size: 14px;
    color: hsl(217, 19%, 35%);
    
}
.container .card-footer .author .date{
    margin-top: 4px;
    color: hsl(0, 0%, 62%);
    font-size: 13px;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }